{% assign item = collection-nav-item %}
{% assign special = "*" %}

{% capture classes %}
  {% if item.title.first == special %}
    highlight
  {% endif %}

  {% if template == "index" and item.handle == settings.frontpage_collection %}
    current
  {% endif %}
{% endcapture %}

<li>
  <a href="{{ item.url }}"
     class="{{ classes }}">
    {% include 'collection-title' with item %}
  </a>
</li>
