<div class="addthis_toolbox addthis_default_style"
  {% if like-article %}addthis:url="{{ like-article }}"{% endif %}>
  <a class="addthis_button_compact social share">
    <div></div>
  </a>
</div>
<script type="text/javascript" charset="utf-8">
  var addthis_config = {
    ui_offset_left: 30,
    ui_hover_direction: -1
  }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f78ceaf115fc4f3"></script>
